*{
    margin:0px;
    padding:0px;
        font-family: 'Raleway';
}
.nav {
    display: flex;
    padding: 0 10px;
    align-items: center;
    background-color: #0000006a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    /*rgb(19, 19, 19)*/
}

.logo {
    flex: 1;
    padding-left: 20px;
    color:#f2f2f2;
}
.name{
    margin-bottom:0;
    font-family: 'Dancing Script',
    cursive;
}

.nav-link-box ul {
    display: flex;
    margin-bottom: 3px;
}

.navbar-toggle {
    position: absolute;
    top: 7px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    display: none;
}

.nav-links li {
    list-style: none;
    margin: 10px;

}

.nav-links a {
    text-decoration: none;
    color: #d5d5d5;
}

.nav-links a:hover {
    text-decoration: none;
    color: #d5d5d5;
}
#toggle-menu{
    width:35px;
}
.jumbotron{
   height:100vh;
    background:url('./Images/floral-hero.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    margin-bottom:0px;
}
.intro-box{
    text-align:center;
    position: relative;
    top:40%;
    left:50%;
    color:#f3f3f3;
    transform: translate(-50%,-50%);
}
.col-md-4{
    padding:0;
}
.intro-box h1{
    margin:0;
}
h5{
    text-align:center;
    padding:8px 0px;
}
.img-box{
    width:70%;
     height: 450px;
     margin:auto;
}
.txt-box{
       width:70%;

       margin:auto;
}
img{
      width:100%;
      height:100%;
}
.skill-box{
    border:solid 2px rgb(29, 29, 29);
}
.skill-list{
    margin-left:30px;
    padding-right:150px;
    padding-bottom:25px;
}
.skill-box-1{
    border:solid 2px rgb(255, 94, 94);
     
}
.skill-box-2{
      border:solid 2px rgb(109, 109, 109);
       
}
.skill-box-3{
      border:solid 2px rgb(255, 158, 234);

}
.skill-container{
    display: flex;
    justify-content: space-around;
}
.sec-header{
    text-align:center;
    padding: 30px 0;
}
@media screen and (max-width:992px){
      .img-box {
          width: 85%;
          height: 350px;
      }

      .txt-box {
          width: 85%;
      }

      .skill-list {
          padding-right: 130px;
      }
}
@media screen and (max-width:768px){
     .img-box{
          width: 85%;
            height: 350px;
     }
     .txt-box{
          width: 85%;
     }
     .skill-list {
         margin-left: 30px;
         padding-right: 100px;
         padding-bottom: 25px;
     }
}
@media screen and (max-width:576px){
    .skill-container{
        flex-direction:column;
    }
    .skill-box-1,.skill-box-2,.skill-box-3{
        margin-bottom:10px;
    }
    .img-box{
        width: 98%;
        height: 280px;
    }
    .txt-box{
         width: 98%;
    }
    .navbar-toggle {
        display: block;
        margin-left: 5px;

    }
    .name{
        padding: 8px 0;
    }
    .logo {
        margin-right: 50px;
    }

    .nav {
        flex-direction: column;
    }

    .nav-link-box {
        display: none;
    }

    .nav-links {
        flex-direction: column;

    }

    .active {
        display: block;
    }
}
